<!DOCTYPE html>
<html>
    <form action='/submitted'>
    <center>
        <h1 style="background-color:DodgerBlue;">WELCOME TO INDIAN BANK</h1>
    </center><br>
    <h2 style="background-color:Tomato;"><marquee>Fill this form to open account:</marquee></h2><br>
    <body bgcolor="pink">
     Account No:<input type='text' name='acc'><br>
     First Name:<input type='text' name='first'><br>
     Last Name:<input type='text' name='last'><br>
     Date Of Birth:<input type='date' name='dob'><br>
     Gender:<input type='radio' name='gender' id='gen'>male<input type='radio' name='gender' id='gen'>female<br>
     Email Id:<input type='text' name='email'><br>
     Assign Date:<input type='date' name='assign'><br>
     Validity Date:<input type='date' name='validity'><br>
     Status of Account:<input type='radio' name='status' id='state'>active<input type='radio' name='status' id='state'>inactive<br>
     Password:<input type='password' name='pass'><br>
     Pin:<input type='password' name='pin'><br>
     Confirm Pin<input type='password' name='cfmpin'><br>
     <input type='submit' value='Register'>
    </body> 
</html>
    