<!DOCTYPE html>
<html>
    <form action='/employeeregistered'>
    <center>
        <h1 style="background-color:DodgerBlue;">WELCOME TO INDIAN BANK</h1>
    </center><br>
    <h2 style="background-color:Tomato;"><marquee>Fill this form to register as employee:</marquee></h2><br>
    <body bgcolor="pink">
     Employee ID:<input type='text' name='id'><br>   
     First Name:<input type='text' name='first'><br>
     Last Name:<input type='text' name='last'><br>
     Date Of Birth:<input type='date' name='dob'><br>
     Gender:<input type='radio' name='gender' id='gen'>male<input type='radio' name='gender' id='gen'>female<br>
     Email Id:<input type='text' name='email'><br>
     Registration Date:<input type='date' name='register'><br>
     <input type='submit' value='Register'>
    </body> 
</html>
 